<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ecommerce Template</title>

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">LOGO</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
              </ul>
            </li>
          </ul>
          
          <form class="navbar-form navbar-left navbar-right" role="search">
            
            <div class="form-group has-feedback">
              <label class="control-label" ></label>
              <input type="text" class="form-control" name="pencarian" id="pencarian" placeholder="Pencarian...">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>

          </form>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"  id="cart"><i class="fa fa-shopping-cart"></i> Keranjang <span class="badge">3</span></a></li>
            </ul>          
        </div>
      </div>
    </nav>

       

        <!-- Page Content -->
    <div class="container">
      <div class="shopping-cart">
        <div class="shopping-cart-header">
          <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">3</span>
          <div class="shopping-cart-total">
            <span class="lighter-text">Total:</span>
            <span class="main-color-text">$2,229.97</span>
          </div>
        </div> <!--end shopping-cart-header -->

        <ul class="shopping-cart-items">
          <li class="clearfix">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item1.jpg" alt="item1" />
            <span class="item-name">Sony DSC-RX100M III</span>
            <span class="item-price">$849.99</span>
            <span class="item-quantity">Quantity: 01</span>
          </li>

          <li class="clearfix">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item2.jpg" alt="item1" />
            <span class="item-name">KS Automatic Mechanic...</span>
            <span class="item-price">$1,249.99</span>
            <span class="item-quantity">Quantity: 01</span>
          </li>

          <li class="clearfix">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item3.jpg" alt="item1" />
            <span class="item-name">Kindle, 6" Glare-Free To...</span>
            <span class="item-price">$129.99</span>
            <span class="item-quantity">Quantity: 01</span>
          </li>
        </ul>

        <div class="btn-group btn-group-justified" >
          <div class="btn-group" role="group">
            <a href="#" class="button"><i class="fa fa-check"></i> Pembayaran</a>
          </div>
          <div class="btn-group" role="group">
            <a href="#" class="button" id="closebtn"><i class="fa fa-shopping-cart"></i> Belanja Lagi</a>
          </div>
        </div>
      </div> <!--end shopping-cart -->


            <div class="row wrap-content">

                <div class="col-md-12">

                  <ol class="breadcrumb">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Library</a></li>
                      <li class="active">Data</li>
                  </ol>

                  <h3>Form Pemesanan </h3>

                  
                    <div class="row">
                      <div class="col-md-6">

                        <form class="form-horizontal" id="form-order" method="POST" action="invoice.html">
                          <div class="form-group">
                            <label class="control-label col-xs-3">Atas Nama</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="inputNama" placeholder="Isikan nama lengkapnya disini">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-xs-3">Email</label>
                            <div class="col-xs-9">
                                <input type="email" class="form-control" id="inputEmail" placeholder="">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-xs-3">No. HP</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="inputNoHP" placeholder="08xxxx">
                                <p class="help-block">Diperlukan untuk konfirmasi dari pihak ekspedisi</p>
                            </div>

                          </div>

                          <div class="form-group">
                            <label class="control-label col-xs-3">Provinsi</label>
                            <div class="col-xs-9">
                                <select class="form-control"><option>Pilih Provinsi</option></select>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-xs-3">Kotamadya / Kabupaten</label>
                            <div class="col-xs-9">
                                <select class="form-control"><option>Pilih Kotamadya/Kabupaten</option></select>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-xs-3">Kecamatan</label>
                            <div class="col-xs-9">
                                <select class="form-control"><option>Pilih Kecamatan</option></select>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-xs-3">Alamat Lengkap</label>
                            <div class="col-xs-9">
                                <textarea class="form-control" rows="2" placeholder="isi alamat lengkap di sini..."></textarea>
                            </div>
                          </div>


                          <div class="form-group">
                            <label class="control-label col-xs-3">Membership</label>
                            <div class="col-xs-9">
                                <div class="checkbox">
                                    <label><input type="checkbox"> Daftarkan sebagai member</label>
                                </div>
                            </div>
                          </div>

                          <h4 class="lead">Biaya Pengiriman</h4>
                          <div class="form-group">
                            <label class="control-label col-xs-3">Jenis Ekspedisi</label>
                            <div class="col-xs-9">
                                <select class="form-control"><option>Pilih Jenis Ongkir</option></select>
                            </div>
                          </div>    

                          <div class="form-group">
                            <label class="control-label col-xs-3">Harga Ongkir</label>
                            <div class="col-xs-9">
                                <p class="form-control-static">Rp 9.000/kg</p>
                            </div>
                          </div>                    

                          <div class="form-group">
                            <div class="col-xs-offset-3 col-xs-9">
                                <button type="submit" class="btn btn-primary input-block-level">Pesan Sekarang!</button>
                            </div>
                          </div>

                        </form>

                      </div>

                    
                      <div class="col-md-6">

                        <h4 class="lead">Daftar Belanja</h4>

                        <table class="table table-hover" id="list-fix-order">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th class="text-center">Total</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="shop-item">
                                    <td class="col-sm-8 col-xs-6">                                
                                      <h5 class="media-heading">SanDisk USB 3.0 OTG 32GB</h5> 
                                    </td>
                                    <td class="col-sm-1 col-xs-1" style="text-align: center"><p class="form-control-static">3</p></td>
                                    <td class="col-sm-1 col-xs-1 text-right"><strong>297.000</strong></td>
                                    
                                </tr>

                                <tr>
                                    <td><h6>Subtotal</h6></td>
                                    <td></td>
                                    <td class="text-right"><strong><h6>297.000</h6></strong></td>
                                </tr>
                                <tr>
                                    <td><h6>Ongkos Kirim</h6></td>
                                    <td></td>
                                    <td class="text-right"><strong><h6>9.000</h6></strong></td>
                                </tr>
                                <tr>
                                    <td><h5>Total</h5></td>
                                    <td></td>
                                    <td class="text-right"><strong><h5>306.000</h5></strong></td>
                                </tr>
                            </tbody>
                        </table>

                      </div>

                    </div>


                </div>

              
            </div>


    </div>     
    
    <!-- /.container -->

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="foot lead">Tentang Kami</h4>
                    <p>Ini adalah template yang cocok untuk ecommerce, barangkali Anda membutuhkannya silahkan saja bisa digunakan tanpa minta izin terlebih dahulu! Follow Sosial Media kami ... </p>

                    <ul class="list-inline">
                    <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-2x fa-rss"></i></a></li>
                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-2x fa-facebook"></i></a></li>
                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-2x fa-twitter"></i></a></li>
                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-2x fa-google-plus"></i></a></li>
                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-2x fa-linkedin"></i></a></li>
                    </ul>                    
                </div>

                <div class="col-md-4">
                    <h4 class="foot lead">Pilihan Editor</h4>
                    <ul class="media-list foot-list">
                      <li class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object" src="http://placehold.it/80x60" alt="...">
                          </a>
                        </div>
                        <div class="media-body">
                          <a href="#" class="media-heading">SanDisk USB 3.0 OTG 32GB</a>
                          <p>Rp 99.000</p>
                        </div>
                      </li>
                      <li class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object" src="http://placehold.it/80x60" alt="...">
                          </a>
                        </div>
                        <div class="media-body">
                          <a href="#" class="media-heading">Samsung DVDRW SE-208GB</a>
                          <p>Rp 295.000</p>
                        </div>
                      </li>
                      <li class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object" src="http://placehold.it/80x60" alt="...">
                          </a>
                        </div>
                        <div class="media-body">
                          <a href="#" class="media-heading">Corsair KATAR Gaming Mouse</a>
                          <p>Rp 495.000</p>
                        </div>
                      </li>

                    </ul>

                </div>
                <div class="col-md-4">

                </div>
            </div>

        </div>

        <div id="copyright">
            <div class="container">
                <div class="row nopadding">
                    <p class="text-muted">© Copyright 2016 - EcommercE by ilmuwebsite</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js" type="text/javascript"></script>

</body>

</html>
